## CWX-Mods
*.exe
*.zip
bin/
obj/
*.editorconfig

## visual studio
.vs
.idea
slnx.sqlite
slnx-journal.sqlite

## nodejs
node_modules
node.exe
package-lock.json

## windows
desktop.ini

## Archive
Old/CWX-AirDrop/bin
Old/CWX-AirDrop/obj

## Live
Live/CWX_BushWhacker/bin
Live/CWX_BushWhacker/obj

Live/CWX_DeSharpener/bin
Live/CWX_DeSharpener/obj

Live/CWX_MasterKey/bin
Live/CWX_MasterKey/obj

Live/CWX_VoiceAdder/bin
Live/CWX_VoiceAdder/obj

Live/CWX_WeatherPatcher/bin
Live/CWX_WeatherPatcher/obj

Live/Shared/AKI
Live/Shared/BepInEx
Live/Shared/EFT

## WIP
WIP/CWX-BackpackReload/CWX-BackpackReload/bin
WIP/CWX-BackpackReload/CWX-BackpackReload/obj

WIP/CWX-BUNDLEMAKER/BUNDLEMAKER/bin
WIP/CWX-BUNDLEMAKER/BUNDLEMAKER/obj
